{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'movies:recommended' %}" class = "btn btn-primary m-1">추천 영화</a>
  <h1>Movies</h1>
  <hr>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{movie.poster_path}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><a href="{% url 'movies:detail' movie.pk %}" class="btn btn-secondary">{{movie.title}}</a> </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
